<footer class="footer">
        <div class="footerContainer">
            <div>
                <ol>
                    <li class="footerStyle">Help</li>
                    <li>Help Center</li>
                    <li>Help form</li>
                    <li>Help About</li>
                </ol>
            </div>

            <div>
                <ol>
                    <li class="footerStyle">Community</li>
                    <li>Community Guidelines</li>
                    <li>Community Strike</li>
                </ol>
            </div>

            <div class="footerStyle">
                <p>FAQS</p>
            </div>
        </div>
        <hr>

        <div class="footerContainer2">
            <div>Terms and Policy</div>
            <div>Copyrights</div>
            <a class="about" href="about">About</a>
        </div>
</footer>